<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>LinkMyTrip</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

    <nav>
        <div class="logo">
            LinkMyTrip
        </div>

        <div class="nav-links">
            <a href="/">Home</a>
            <a href="#">Login</a>
            <a href="#">Register</a>
        </div>
    </nav>

    <section class="hero">

        <h1>Plan Your Journey.</h1>

        <p>
            Create, organize and share your trips
            with LinkMyTrip.
        </p>

        <button>
            Start Planning
        </button>

    </section>

</body>

</html>